@import "tailwindcss";
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-family: "Pixel Operator", monospace;
  
}
@font-face {
  font-family: "Pixel Operator";
  src: url("/fonts/PixelOperatorSC.tff") format("ttf");
  font-weight: normal;
  font-style: normal;
}

.pixel-font {
  font-family: "Pixel Operator", monospace;
}